<div class="container-small border-bottom-black">
  <div class="row" *ngIf="currentLocation">
    <div class="col">
      <div class="location-image">
        <img class="location" src="{{getFullImgLink(currentLocation.gameCard.pictureUrl)}}">
      </div>
    </div>
    <div class="col">
      <div class="row">
        <h3>Location:</h3>
      </div>
      <div class="row">
        <h4>{{determineLocation(currentLocation.gameCard.name)}}</h4>
      </div>
      <div class="row">
        <div class="col text-center location-button" *ngIf="currentLocation.gameCard.name =='шпион'">
          Guess location
        </div>
        <div class="col text-center location-button">
          <a class="text-decoration-none" href="{{getMapLink(1)}}" target="_blank">
            Map
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-question [questionDto]="currentQuestion" *ngIf="pendingQuestion"></app-question>
<div class="container-small">
  <div class="row" *ngIf="currentQuestion!=null && currentQuestion.message!='erase'">
    <div class="row">
      <div class="col">
        <h3>
          Last Question
        </h3>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="row">
        from: {{currentQuestion.question.source}} -> to: {{currentQuestion.question.target}}
      </div>
      <div class="row">
        Question: {{currentQuestion.question.question}}
      </div>
    </div>
  </div>
  <div class="row" *ngIf="currentAnswer!=null && previousQuestion!=null">
    <div class="row">
      <div class="col">
        <h3>
          Last Answer
        </h3>
      </div>
      <div class="col"></div>
    </div>
    <div>
      <div class="row">
        from: {{previousQuestion.question.source}} -> to: {{previousQuestion.question.target}}
      </div>
      <div class="row">
        Question: {{previousQuestion.question.question}}
      </div>
      <div class="row" *ngIf="currentAnswer">
        Answer: {{currentAnswer.answer}}
      </div>
    </div>
  </div>
</div>

