/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  font-size: 14px;
  color: black;
  line-height: 1.6;
  border: none;
  margin: 0;
}

.text-white {
  color: white;
}
.has-error{
  background: #ff4a4f !important;
}

.relative-center {
  position: relative;
  top: 40px;
  left: 40px;
}

.bg-red {
  background-color: #e8a628;
}
